@font-face {
    font-family: 'Raleway';
    src: url(../assets/fonts/Raleway,Roboto/Raleway/Raleway-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Raleway,Roboto/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url(../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
    font-weight: normal;
    font-style: normal;
}