@font-face {
    font-family: 'Lato';
    src: url(../assets/fonts/Lato/Lato-Black.ttf);
    font-family: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RedHat';
    src: url(../assets/fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf);
    font-family: normal;
    font-style: normal;
}