@mixin top-lines-container($margin-bottom: 45px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $margin-bottom;
}

// Міксин для ліній
@mixin top-line($width: 210px, $height: 1.5px, $background-color: #FFCC00, $margin: 0 5px) {
    width: $width;
    height: $height;
    background-color: $background-color;
    margin: $margin;
}
